body{
    background-color: #0F172A;
    color: #F1F5F9;
    font-family:"Nunito", sans-serif;
}


header{
    position:sticky;
    top:0;
    padding:0.938rem;
    background-color:#F1F5F9;
}

header nav ul{
    display:flex;
    justify-content: center;
    gap: 6.25rem;
    list-style-type: none;
}

a{
    color:#6366F1;
}

h1{
    text-align:center;
    font-size: 2.5rem;
}

#profile_pic{
    max-width: 15.625rem;   
    height: auto;       
    border-radius: 0.625rem; 
    margin-right: 9.375rem;
    margin-left: 53.125rem;
    margin-top: -5rem;
}

p{
    color:#94A3B8;
    text-align: left;
    margin-right: 53.125rem;
    margin-left: 3.125rem;
}

#Connect ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#Connect li{
    margin-bottom: 0.938rem;
}

#Connect i{
    margin-right: 1.125rem;     
    font-size: 1.875rem;      
    color: #F1F5F9;           

}

#Experience{
    background-color: #fdfdf6;
    color:#0F172A;
    padding: 5rem;
    border: 0.625rem solid #6495ed;
}

.experience-header{
    display:flex;
    justify-content:space-between;
    align-items:baseline;
}

.experience{
    border-bottom: 0.188rem solid #ccc;
}

#About{
    padding: 5rem;
}

