/* ========= DESKTOP ========= */

/* body section */

 body{
    background-color: #0F172A;
    color: #F1F5F9;
    font-family:"Nunito", sans-serif;
    margin:0;
    padding:0;
    overflow-x: hidden; /* prevents horizontal scroll */
 }

 /* header section */ 

 header{
    position:sticky;
    top:0;
    padding:0.938rem;
    background-color:#F1F5F9;
 }

 header nav ul{
    display:flex;
    justify-content: center;
    gap: 6.25rem;
    list-style-type: none;
 }

 h1{
    text-align:center;
    font-size: 2.5rem;
 }

 /* about section */

 #About{
    padding: 5rem;
    background-color: #fdfdf6;
    color:#0F172A;
    border: 0.625rem solid #6495ed;
    margin-bottom: 5rem;
 }

 .intro{
    color: #94A3B8;
    text-align: left;
    margin: 0;
    line-height: 1.6;
    font-size: 1rem;
 }

 #profile_pic{
    width:11.25rem;
    margin-top:2rem;
    border-radius: 50%;
    border:0.125rem solid #6366F1;
    display: block;
    margin: 0  auto;
}

/* experience section */

#Experience{
    background-color: #fdfdf6;
    color:#0F172A;
    padding: 5rem;
    border: 0.625rem solid #6495ed;
 }

 .experience-header{
    display:flex;
    justify-content:space-between;
    align-items:baseline;
 }

 .experience{
    border-bottom: 0.188rem solid #ccc;
 }

 .experience-description{
    color:#94A3B8;
 }
/* connect section */

#Connect{
    padding: 5rem;
    border: 0.625rem solid #6495ed;
    background-color: #fdfdf6;
    padding: 5rem;
    color:#0F172A;
    margin-top: 4rem; 
}

 #Connect ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
 }

 #Connect li{
    margin-bottom: 0.938rem;
 }

 #Connect i{
    margin-right: 1.125rem;     
    font-size: 1.875rem;      
    color: #3e2f5b;           
 }

 a{
    color:#6366F1;
 }

 /* skills section */

 #Skills{
    padding: 5rem;
    border: 0.625rem solid #6495ed;
    background-color: #fdfdf6;
    padding: 5rem;
    color:#0F172A;
    margin-top: 4rem; 
 }

 #Skills ul {
    list-style:none;
    padding: 0;
    display:flex;
    flex-wrap:wrap;
    gap:0.625rem;
    justify-content:center;
 }

 #Skills li{
    font-size: medium;
    background-color:#6366F1;
    padding: 0.5rem 1rem;
    border-radius: 15%;
 }
 
 /* projects section */

 #Projects{
    padding: 5rem;
    border: 0.625rem solid #6495ed;
    background-color: #fdfdf6;
    padding: 5rem;
    color:#0F172A;
    margin-top: 4rem; 
 }

 /* form section */

 #Form{
    padding: 5rem;
    border: 0.625rem solid #6495ed;
    background-color: #eae6fa;
    padding: 5rem;
    color:#0F172A;
    margin-top: 4rem;
 }


/* ========= TABLET ========= */
@media (max-width: 1024px){
    h1{
        font-size : 2.5rem;
        text-align : center;  
    }
    body{
        margin:0;
        padding:0;
    }
    header{
        position:sticky;
        width:100%;
    }

    .experience-description{
        width:70%; /* adjusting width so that my decription doesn't stack into a narrow column on tablet device */
    }
    
    .intro{
        width:70%;
    }
   
    #profile_pic{
        width:200px;
        margin-top:2rem;
        border-radius: 50%;
        border:2px solid #0F172A;
        margin-left: auto;
        margin-right: auto;
        display:block;
    }

}

/* ========= MOBILE ========= */
@media (max-width: 767px){
    
    h1{
        font-size : 1.5rem;
        text-align : center;
        margin-left:auto;
        margin-right:auto;  
    }

    body{
        margin:0;
        padding:0;
    }

    header{
        position:sticky;
        width:129%;
    }

    header nav ul{
        display:flex;
        justify-content: center;
        gap: 2.15rem;
        list-style-type: none;
     }

     .experience-description{
        width:70%; /* adjusting width so that my decription doesn't stack into a narrow column on tablet device */
    }

    .intro{
        width:70%;
    }

    #About{
        padding: 2rem;
        background-color: #fdfdf6;
        color:#0F172A;
        border: 0.625rem solid #6495ed;
        margin-bottom: 5rem;
        width:115%;
     }

     #Experience{
        background-color: #fdfdf6;
        color:#0F172A;
        padding: 5rem;
        border: 0.625rem solid #6495ed;
        width:90%;
        margin-bottom: 5rem;
     }

}